*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{

    height: 100%;
    min-height: 100%;
}

body{

    display: flex;
    flex-direction: column;
    font-family: "monserrat", sans-serif;
}
main{
    flex-grow: 1;
}
.container{
    width: 1110px;
    margin: 0 auto;
}

/*--------------delivery--------------*/

.delivery {
    background-color: #212121;
    color: #fff;
}

.delivery .container {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 69px;
}
.delivery h2 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 23px;
}

.delivery h2 span {
    font-weight: normal;
}

.delivery p {
    font-size: 21px;
}

/*--------------------------женка и муж--------*/
.man-woman .container {
    display: flex;
    flex-direction: row;
}
.man,
.woman{
    width: 50%;
    padding-top: 60px;
    padding-bottom: 58px;
    padding-left: 35px;
}

.man-woman h2{
    font-size: 24px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.man-woman h2 span{
    font-weight: normal;
}

.man-woman a{
    background-color: #d7b399;
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.man-woman a:hover,
.man-woman a:focus {
    background-color: brown;
}

.man-woman{
    background: linear-gradient(90deg, #f9f6f1 0%, #f9f6f1 50%, #f9e0e0 50%, #f9e0e0 100%);
}
.man {
    background-image: url(../img/man.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.woman{
    background-image: url(../img/woman.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

/*-----------------------новинка-----------------*/

.catolog{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
}
.card{
    border: rgba(226, 74, 74, 0.541) 1px solid;
    text-align: center;
    padding: 22px 25px 22px;
}

.news button {
    background: #d7b399;
    width: 220px;
    height: 55px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    margin-top: 100px;
}
.news button:hover,
.news button:focus{
    background: #9e5d2e;
}

.news .container{
    text-align: center;
    padding-top: 193px;
    padding-bottom: 107px;
}